/* 
-----------------------------------
- Header Section (Navbar & Sidebar)
-----------------------------------
*/
@media only screen and (max-width: 767px) {
    .navbar.header-wrapper .navbar-header {
		height: 50px;
		background-color: rgba(255, 255, 255, 0.8);
		padding-left: 0;
		text-align: center;
	}
	.navbar.header-wrapper.sticky .navbar-header {
		background-color: #ffffff;
		-webkit-box-shadow: 0px 7px 18px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 7px 18px -9px rgba(0,0,0,0.75);
		box-shadow: 0px 7px 18px -9px rgba(0,0,0,0.75);
	}
	.side-on .navbar.header-wrapper {
		height: 100%;
	}
	.side-on .navbar.header-wrapper .navbar-header {
		position: relative;
		width: 250px;
		background-color: rgba(255, 255, 255, 1);
		z-index: 5;
	}
	.navbar-toggle {
		position: absolute;
		left: 15px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		border: 0;
		margin: 0;
		padding: 13px 10px 5px 0;
	}
	.navbar-toggle:hover {
		margin: 0;
	}
	.side-on .navbar-toggle {
		left: 210px;
	}
	.navbar-toggle .icon-bar {
	    width: 25px;
    	height: 3px;
		background-color: #63b22c;
	}
	/* Navbar with left sidebar */
	.navbar.header-wrapper .navbar-header .navbar-brand {
		float: none;
		display: inline-block;
		margin: auto;
		padding: 7px 15px 5px 5px;
	}
	.side-on .navbar.header-wrapper .navbar-header .navbar-brand {
		position: absolute;
		left: 0;
	}
	.nav-outer-bg {
		display: none;
	}
	.side-collapse-container{
		width: 100%;
		position: relative;
		left: 0;
		-webkit-transition: left .4s;
		-moz-transition: left .4s;
		-ms-transition: left .4s;
		transition: left .4s;
	}
	.side-collapse-container.out{
		left: 250px;
	}
	.side-collapse {
		top: 0;
		bottom: 0;
		left: 0;
		width: 250px;
		padding-top: 50px;
		position: fixed;
		overflow-x: hidden;
    	overflow-y: auto;
		-webkit-transition: width .4s;
		-moz-transition: width .4s;
		-ms-transition: width .4s;
		transition: width .4s;
	}
	.side-collapse.in {
		width: 0;
	}
	.navbar-top,
	.nav-contact {
		display: none;
	}
	.navbar-nav.nav-side-collapse {
		display: block;
		margin: 0 -15px;
		padding: 10px 0;
		background-color: #63b22c;
	}
	.navbar-nav.nav-side-collapse > li > a {
		color: #fff;
		padding: 10px 15px;
	}
	.navbar-nav.nav-side-collapse > li > a:hover,
	.navbar-nav.nav-side-collapse > li > a:active,
	.navbar-nav.nav-side-collapse > li > a:focus {
		color: #FFB236 !important;
	}
	.navbar-nav.nav-side-collapse.accounts {
		background-color: transparent;
		margin: auto;
	}
	.navbar-nav.nav-side-collapse.accounts > li {
		display: inline-block;
	}
	.navbar-nav.nav-side-collapse.accounts > li > a {
		color: #777;
	}
	.navbar-nav.nav-menu > li > a {
		padding: 13px 15px;
		color: #63B22C;
	}
	.navbar-nav.nav-menu > li.dropdown > a > i {
		float: right;
	}
	.navbar-nav.nav-menu > li.open > a > .fa-chevron-down:before {
	    content: "\f077";
	}
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:focus, 
	.navbar-default .navbar-nav > .open > a:hover {
		color: #63b22c;
		background-color: #232C39;
	}
	.navbar-default.side-collapse.in .navbar-collapse {
		opacity: 0;
	}
	.navbar-default.side-collapse .navbar-collapse {
		height: calc(100% - 150px);
    	max-height: 100%;
		opacity: 1;
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-ms-transition: opacity .5s;
		transition: opacity .5s;
	}
	.navbar-nav .open .dropdown-menu {
		display: inline;
	}
	.navbar-nav .open .dropdown-menu > li {
		background-color: #eeeeee;
		margin-bottom: 0;
	}
	.navbar-nav .open .dropdown-menu > li.nav-separator {
		display: none;
	}
	.mega-dropdown-menu .dd-nav-list {
		padding: 10px 0;
	}
	.nav-featured-properties {
		padding-bottom: 15px;
	}
	.side-collapse-container.out .collapse-overlay {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 3;
	}
}

@media only screen and (min-width: 768px) {
    .navbar.header-wrapper .navbar-container {
		position: relative;
		top: 0;
		-webkit-transition: top .3s ease-in-out;
		-moz-transition: top .3s ease-in-out;
		-o-transition: top .3s ease-in-out;
		transition: top .3s ease-in-out;
	}
	.navbar.header-wrapper .nav-outer-bg {
		top: 40px;
		-webkit-transition: top .3s ease-in-out;
		-moz-transition: top .3s ease-in-out;
		-o-transition: top .3s ease-in-out;
		transition: top .3s ease-in-out;
	}
	.navbar.header-wrapper.sticky {
		height: 58px;
		-webkit-box-shadow: 0px 7px 11px -3px rgba(0,0,0,0.37);
		-moz-box-shadow: 0px 7px 11px -3px rgba(0,0,0,0.37);
		box-shadow: 0px 7px 11px -3px rgba(0,0,0,0.37);
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.navbar.header-wrapper.sticky .nav-outer-bg {
		top: 0;
	}
	.navbar.header-wrapper.sticky .nav-outer-bg.outer-left {
		background-color: #ffffff;
	}
	.navbar.header-wrapper.sticky .navbar-container {		
		top: -40px;		
	}
	.navbar.header-wrapper.sticky .navbar-default {
		background-color: #ffffff;
	}
	.navbar.header-wrapper.sticky .navbar-brand svg text {
		fill: #63B22C !important;
	}
	.navbar.header-wrapper.sticky .navbar-nav.nav-menu > li > a {
		color: #63B22C;
	}
	.nav-menu > li.dropdown:hover > a > .fa-chevron-down:before {
	    content: "\f077";
	}

	/* Navbar dropdown hover with animation */
	.dropdown:hover .dropdown-menu {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		transform: scale(1, 1);  
		opacity:1;
	}
}

@media only screen and (min-width: 992px) {
    .navbar-nav.nav-contact {
		width: 18%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .navbar-nav.nav-contact {
		width: 7%;
	}
	.navbar-nav.nav-contact > li {
	    display: none;
	}
	.navbar-nav.nav-contact > li.dropdown {
	    display: inline-block;
    	width: auto;
	}
	.navbar-nav.nav-contact > li.dropdown > a {
		margin: 10px 0;
		line-height: 24px;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu {
	    top: 0;
	    right: 45px;
	    padding: 0;
	    background-color: #63b22c;
	    border: 0;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu > li {
	    display: list-item;
	    padding: 0;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu > li > a {
	    padding-left: 10px;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu > li> a:focus, 
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu > li > a:hover {
		color: #262626;
		background-color: transparent;
	}
	.nav-outer-bg {
		width: 11%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
    .nav-outer-bg {
		width: 7%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav > li > a {
		padding: 19px 8px;
	}
	.navbar-nav.nav-contact {
		width: 6%;
		padding-left: 3px;
	}
	.navbar-nav.nav-contact:before {
		border-right: 15px solid #63b22c;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu {
	    right: 30px;
	}
	.nav-outer-bg {
		width: 13%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 875px) {
    .nav-outer-bg {
		width: 8%;
	}
}

/* 
-----------------------------------
Pagination
-----------------------------------
*/
@media only screen and (max-width: 575px) {
	.paginate .pagination {
		width: 100%;
		text-align: center;
	}
	.paginate .pagination li {
		display: inline-block;
		margin-bottom: 5px;
	}
	.paginate .pagination>li>a, 
	.paginate .pagination>li>span {
		margin-left: 0;
		margin-right: 0;
	}
	.paginate .pagination>li>a.page-prev, 
	.paginate .pagination>li>span.page-prev,
	.paginate .pagination>li>a.page-next, 
	.paginate .pagination>li>span.page-next {
		position: relative;
		right: 0;
	}
}

/* 
-----------------------------------
Page featured items
-----------------------------------
*/
@media only screen and (max-width: 767px) {
    .page-featured .container-fluid {
        padding: 70px 0 5px;
    }
    .page-featured .media {
        margin-bottom: 10px;
    }
    .page-featured .btn-breadcrumb,
    .page-featured .btn-all {
        padding: 25px 0 0;
    }
}

@media only screen and (max-width: 575px) {
	.page-featured .btn-breadcrumb {
		padding: 25px 0 10px;
	}
    .btn-breadcrumb > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .page-featured .media .media-body {
        padding: 20px 0 0;
    }
    .page-featured .media .media-body p {
        font-size: 11px;
        line-height: 15px;
    }
    .page-featured .media .media-body h4 {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 0;
	}
	.page-featured .page-featured-bottom {
		padding: 35px 0 5px;
	}
	.page-featured .page-featured-bottom,
	.page-featured .page-featured-bottom .text-right {
		text-align: center;
	}
	.page-featured .btn-breadcrumb {
		padding: 25px 0 10px;
	}
	.page-featured a.btn-search {
		width: calc(100% - 25px);
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-featured .media .media-body {
        padding-top: 5px;
    }
    .page-featured .media .media-body p {
        font-size: 11px;
        line-height: 17px;
    }    
}

/* 
-----------------------------------
PAGE - Properties
-----------------------------------
*/
@media only screen and (max-width: 767px) {
    .properties-grid .controls .navbar-toggle {
        left: 0;
	}
	.properties-grid .controls .navbar-collapse {
		position: absolute;
		top: 33px;
		left: -2px;
		width: 100px;
		z-index: 1;
		background-color: #63b22c;
		padding: 0 15px;
	}
	.properties-grid .controls .navbar-nav {
		margin-top: 0;
	}
	.properties-grid .controls .navbar-nav>li {
		padding: 0;
	}
	.properties-grid .controls .navbar-nav>li .fa {
		display: none;
	}
	.properties-grid .controls .navbar-nav>li span {
		display: inline-block;
	}
	.properties-grid .controls .navbar-nav>li button {
		width: 100%;
		margin: 0;
		text-align: left;
		color: #ffffff;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-ms-filter-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
	}
	.properties-grid .controls .navbar-nav>li button:hover,
	.properties-grid .controls .navbar-nav>li button:focus,
	.properties-grid .controls .navbar-nav>li button:active {
		background-color: #688708;
		color: #FFB236;
	}
	.properties-grid .controls .navbar-nav>li button::before,
	.properties-grid .controls .navbar-nav>li button::after {
		width: 0;
	}
}
@media only screen and (min-width: 768px) {
    .properties-grid .controls .navbar-toggle {
        display: none;
    }
}

/* 
-----------------------------------
PAGE - Agent single
-----------------------------------
*/
@media only screen and (max-width: 767px) {	
	.card-agent-details .agent-info {
		padding-bottom: 1px;
	}
	.card-agent-details .agent-contacts {
		margin-bottom: 30px;
	}
	.card-agent-desc {
		margin-top: 0;
	}
}

/* 
-----------------------------------
PAGE - Blog home
-----------------------------------
*/
@media only screen and (max-width: 991px) {
	.blog-featured .featured-content {
		padding-top: 0;
	}
	.blog-featured .featured-content .tagline {
		top: 5px;
		left: -117px;
	}
	.blog-featured .featured-content .post-heading {
		margin: 2px 0 10px;
	}
}
@media only screen and (max-width: 767px) {	
	.blog-featured {
		padding-bottom: 30px;
	}
	.blog-featured .featured-content .tagline {
		top: -56px;
		left: 0;
	}
	.blog-featured .featured-content .post-heading {
		margin: 20px 0 10px;
	}
}
@media only screen and (max-width: 575px) {
	.blog-categories .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
	.blog-search {
		width: 100%;
		max-width: 100%;
	}
	.blog-search {
		margin-bottom: 40px;
	}
	.other-posts li .blog-title .post-date {
		width: 100%;
		padding-right: 0;
		text-align: left;
		border-right: 0;
	}
	.other-posts li .blog-title .post-date span:first-child,
	.other-posts li .blog-title .post-date span:nth-child(2),
	.other-posts li .blog-title .post-date span:last-child {
		font-size: 15px;
	}
	.other-posts li .blog-title .post-date span:last-child {
		position: relative;
		top: 0;
		right: auto;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
	.other-posts li .blog-title .post-title {
		width: 100%;
		padding: 2px 0 10px 0;
	}
	.other-posts li .blog-title .post-title h3 {
		margin-top: 2px;
	}
}
@media only screen and (max-width: 400px) {
	.other-posts li .post-desc img {
		padding-right: 0;
		padding-bottom: 10px;
		max-width: 100%;
	}
}


/* Mobile, Phablet & Tablet */
@media only screen and (max-width: 991px) {

}

/* Mobile & Phablet */
@media only screen and (max-width: 767px) {

}

/* Mobile only */
@media only screen and (max-width: 575px) {

}

/* Mobile (small) only */
@media only screen and (max-width: 400px) {

}

/* Tablet (minimum) */
@media only screen and (min-width: 768px) {

}

/* Desktop (minimum) */
@media only screen and (min-width: 992px) {

}

/* Desktop (wide) only */
@media only screen and (min-width: 1200px) {

}

/* Desktop only */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Custom breakpoint */
@media only screen and (min-width: 768px) and (max-width: 1100px) {

}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Custom breakpoint */
@media only screen and (min-width: 768px) and (max-width: 875px) {

}

/* Phablet only */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}