/*
======================================
Table of Contents
======================================
- Home Page
	- Preloader
	- Header Section
======================================
*/

/* 
----------------------------------
- Global styles
----------------------------------
*/
.side-on {
	overflow-x: hidden;
}
.container-fluid.site-wrapper {
	padding: 0;
}

.m-0 {
	margin: 0 !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.mr-0 {
	margin-right: 0 !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.ml-0 {
	margin-left: 0 !important;
}
.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.p-0 {
	padding: 0 !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.pr-0 {
	padding-right: 0 !important;
}
.pb-0 {
	padding-bottom: 0 !important;
}
.pl-0 {
	padding-left: 0 !important;
}
.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.d-none {
	display: none;
}
.d-block {
	display: block;
}
.d-inline {
	display: inline;
}
.d-inline-block {
	display: inline-block;
}
.d-table {
	display: table;
}
.d-table-cell {
	display: table-cell;
}

.bdr-0 {
	border-width: 0 !important;
}

.item-aos {
	width: 200px;
	height: 200px;
	margin: 50px auto;
	padding-top: 75px;
	background: #ccc;
	text-align: center;
	color: #FFF;
	font-size: 3em;
}

/* Animations */
.btn-toggle {
	width: 35px;
	height: 30px;
	position: relative;
	margin: 0 auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.btn-toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 50%;
	background: #82aa09;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.btn-toggle span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}
.btn-toggle span:nth-child(odd) {
	left:0px;
	border-radius: 9px 0 0 9px;
}
.btn-toggle span:nth-child(1), 
.btn-toggle span:nth-child(2) {
	top: 0px;
}
.btn-toggle span:nth-child(3), 
.btn-toggle span:nth-child(4) {
	top: 10px;
}
.btn-toggle span:nth-child(5), 
.btn-toggle span:nth-child(6) {
	top: 20px;
}
.btn-toggle.open span:nth-child(1),
.btn-toggle.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.btn-toggle.open span:nth-child(2),
.btn-toggle.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn-toggle.open span:nth-child(1) {
	left: 5px;
	top: 7px;
}
.btn-toggle.open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 7px;
}
.btn-toggle.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}
.btn-toggle.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}
.btn-toggle.open span:nth-child(5) {
	left: 5px;
	top: 15px;
}
.btn-toggle.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 15px;
}

.btn-effect-1, 
.btn-effect-1:link, 
.btn-effect-1:visited {
	box-shadow: 0 0 0 rgba(255, 166, 0, 0.15) inset;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: box-shadow 0.8s cubic-bezier(0.39, 0.5, 0.15, 1.36);
	transition: box-shadow 0.8s cubic-bezier(0.39, 0.5, 0.15, 1.36);
}
.btn-effect-1:hover, 
.btn-effect-1:link:hover, 
.btn-effect-1:visited:hover {
	box-shadow: 0 0 0 30px #82aa09 inset;
}
.btn-effect-1:active, 
.btn-effect-1:link:active, 
.btn-effect-1:visited:active {
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
}

.btn-effect-2 {
    color: #a186be;
}
.btn-effect-2::before {
    color: #82aa09;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 19px 15px;
    max-width: 0;
    content: attr(data-hover);
    transition: max-width 0.7s;
    -moz-transition: max-width 0.7s;
    -webkit-transition: max-width 0.7s;
}
.btn-effect-2:hover::before, 
.btn-effect-2:focus::before {
    max-width: 100%;
}

.hvr-icon-spin {
	display: inline-block;
	vertical-align: middle;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-box-shadow: transparent 0 0 1px;
	box-shadow: transparent 0 0 1px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	padding-right: 2.2em;
}
.hvr-icon-spin:before {
	content: "\f067";
	position: absolute;
	right: 1em;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover:before, .hvr-icon-spin:focus:before, .hvr-icon-spin:active:before {
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

[data-aos="example-anim1"] {
	-webkit-transform: skewX(45deg);
	transform: skewX(45deg);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
}
[data-aos="example-anim1"].aos-animate {
	-webkit-transform: skewX(0);
	transform: skewX(0);
	opacity: 1;
}

[data-aos="example-anim2"] {
	background: red;
	-webkit-transition-property: background;
	transition-property: background;
}
[data-aos="example-anim2"].aos-animate {
	background: green;
}

[data-aos="example-anim3"] {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
}
[data-aos="example-anim3"].aos-animate {
	-webkit-transform: rotate(0);
	transform: rotate(0);
	opacity: 1;
}

/* Common classes */
.title-long {
	position: relative;
	color: #178c8d;
	margin: 5px 0 35px;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.title-long .title-text,
.title-long .title-link {
	display: table;
	padding: 0 0;
	position: relative;
}
.title-long .title-link {
	float: left;
	top: 5px;
	left: 0;
	padding-right: 0;
	font-size: 15px;
	font-weight: 300;
}
.title-long .title-link a:hover {
	text-decoration: none;
}
.horizontal-border {
	position: absolute;
	top: 35px;
	z-index: -1;
	color: #178c8d;
	border-bottom: 1px dotted;
	height: 1px;
	width: 100%;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}
.all-btn {
	font-weight: 500;
	text-align: right;
	text-transform: uppercase;
	padding: 10px 0;
	margin-right: -11px;
}
.all-btn a {
	text-decoration: none;
}
.all-btn a:hover {
	text-decoration: none;
}
.more-btn {
	width: 100%;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 15px;
}
.more-btn a {
	text-decoration: none;
}
.more-btn a:hover {
	text-decoration: none;
}
.title-long {
/*text-align: center;
margin: 20px 0 40px;*/
}

/* line 4060, ../sass/main.scss */
.title-long .title-text,
.title-long .title-link {
/*width: 100%;
text-align: center;*/
}

/* 
----------------------------------
- Header Section
----------------------------------
*/
.navbar.header-wrapper {
	background-color: transparent;
}
.navbar-nav.nav-side-collapse {
	display: none;
}
.navbar-top {
	display: inline-block;
	width: 100%;
}
.navbar-top li {
	line-height: normal;
	vertical-align: middle;
}
.navbar-top li.divider-hor {
	vertical-align: sub;
}
.navbar-top li a {
	color: rgba(255, 255, 255, 1);
	font-size: small;
}
.navbar-top .top-left {
	padding-left: 8%;
}
.navbar-top .top-right {
	padding-right: 8%;
}
.navbar.header-wrapper .navbar-header {
    padding-left: 8%;
}
.navbar.header-wrapper .navbar-header .navbar-brand {
    height: auto;
    padding: 10px 15px 10px 5px;
}
.navbar.header-wrapper .navbar-header .navbar-brand img {
    width: 100%;
    max-width: 170px;
}
.navbar.header-wrapper .navbar-default {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
}
.navbar.header-wrapper .navbar-nav > li {
    margin-bottom: 0;
    -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.navbar-nav.nav-menu > li:hover {
	/*color: rgba(255, 255, 255, 1);*/
    
}
.navbar-nav.nav-menu > li > a {
	text-transform: uppercase;
	cursor: pointer;
}
.navbar-nav.nav-menu > li:hover > a,
.navbar-nav.nav-menu > li > a:hover {
	color: #82aa09 !important;
	/*background-color: #82aa09;*/
}
.navbar-nav.nav-menu > li.current > a {
	/*color: rgba(255, 255, 255, 1);*/
}
.navbar-nav.nav-contact {
    position: relative;
    width: 29%;
    padding-left: 20px;
    /*padding-right: 17%;*/
    background-color: #82aa09;
}
.navbar-nav.nav-contact:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 58px solid transparent;
    border-right: 40px solid #82aa09;
    border-bottom: 0px solid transparent;
}
.navbar-nav.nav-contact li {
    width: 100%;
    margin-bottom: 0;
}
.navbar-nav.nav-contact li.dropdown {
    display: none;
}
.navbar-nav.nav-contact li a {
    padding: 7px 5px;
    line-height: 15px;
    color: rgba(255, 255, 255, 1);
}

/* Navbar with left sidebar */
.navbar-nav>li>a:hover {
    color: #333 !important;
}
.navbar-toggle, .navbar-toggle:hover {
    /*background-color:#bfbfbf !important;
    margin-left:20px;*/
}

/* Navbar dropdown effects */
.navbar-nav > li > a {
	padding-top: 19px;
	padding-bottom: 19px;
}
.open > .dropdown-menu {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);  
	opacity:1;
}  
.navbar-nav > li > .dropdown-menu {
	opacity:.3;
	border: 0;
	border-top: 1px #82aa09 solid;
	border-bottom: 1px #82aa09 solid;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;  
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards; 
	-webkit-transform: scale(1, 0);
	-moz-transform: scale(1, 0);
	-ms-transform: scale(1, 0);
	transform: scale(1, 0);
	display: block; 
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.navbar-nav > li > .dropdown-menu > li {
	margin: 0;
	padding: 3px 15px;
}
.navbar-nav > li > .dropdown-menu .divider {
	display: block;
	margin: 3px 0;
}

/* Mega dropdown menu*/
.mega-dropdown {
	position: static !important;
	/*width: 100%;*/
}
.mega-dropdown-menu {
	padding: 20px 0px;
	width: 100%;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
	/*content: "";
	border-bottom: 15px solid #fff;
	border-right: 17px solid transparent;
	border-left: 17px solid transparent;
	position: absolute;
	top: -15px;
	left: 285px;
	z-index: 10;*/
}
.mega-dropdown-menu:after {
	/*content: "";
	border-bottom: 17px solid #ccc;
	border-right: 19px solid transparent;
	border-left: 19px solid transparent;
	position: absolute;
	top: -17px;
	left: 283px;
	z-index: 8;*/
}
.mega-dropdown-menu > li > ul {
	padding: 0;
	margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  	list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
	display: block;
	padding: 3px 20px 3px 0;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #999;
	white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
	text-decoration: none;
	color: #444;
	background-color: #f5f5f5;
}
.mega-dropdown-menu h5 {
	padding: 0 0 10px;
	color: #82aa09;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.mega-dropdown-menu .dd-nav-list h5 {
	padding: 0;
}
.mega-dropdown-menu form {
	margin: 3px 20px;
}
.mega-dropdown-menu .form-group {
	margin-bottom: 3px;
}
.mega-dropdown-menu .owl-theme .owl-nav {
	position: absolute;
	top: -40px;
	right: 0;
	margin-top: 0;
}
.mega-dropdown-menu .owl-theme .owl-nav [class*=owl-] {
	padding: 0;
	background: transparent;
	color: #82aa09;
}
.mega-dropdown-menu .owl-theme .owl-nav [class*=owl-]:hover {
	background: transparent;
	color: #82aa09;
}
/*.mega-dropdown-menu .owl-caption {
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.mega-dropdown-menu .owl-caption .p-type {
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.mega-dropdown-menu .owl-caption .p-type .featured {
    background-color: #82aa09;
    float: left;
    transform: rotate(-45deg);
    left: -65px;
    top: 20px;
    position: relative;
    text-align: center;
    width: 200px;
    font-size: 12.5px;
    margin: 0;
    padding: 5px 0;
}
.mega-dropdown-menu .owl-caption .p-type span {
    color: #fff;
    display: inline-block;
    padding: 1px 10px;
    float: right;
    background-color: rgba(74,74,76,0.7);
    border-radius: 3px;
    top: 15px;
    right: 15px;
    position: absolute;
}
.listing-img-content {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 30px;
}
.mega-dropdown-menu .owl-caption .p-title {
	position: absolute;
    bottom: 15px;
    width: 100%;
}
.mega-dropdown-menu .owl-caption .p-price {
	position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    color: #88A339;
    padding: 5px 10px;
    text-align: center;
}*/

.nav-featured-properties .property-item-container {
	position: relative;
    height: 100%;
    width: 100%;
    display: block;
}
.nav-featured-properties .property-item-container:after, 
.nav-featured-properties .property-item-container:before {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    content: "";
    z-index: 9;
}
.nav-featured-properties .property-item-container:before {
    opacity: 0.9;
    background: -webkit-linear-gradient(to bottom,transparent 65%,#2f2f2f);
    background: -moz-linear-gradient(to bottom,transparent 65%,#2f2f2f);
    background: -o-linear-gradient(to bottom,transparent 65%,#2f2f2f);
    background: linear-gradient(to bottom,transparent 65%,#2f2f2f);
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}
.nav-featured-properties .property-item-container:after {
    opacity: 0;
    background: -webkit-linear-gradient(to bottom,transparent 60%,#66676b);
    background: -moz-linear-gradient(to bottom,transparent 60%,#66676b);
    background: -o-linear-gradient(to bottom,transparent 60%,#66676b);
    background: linear-gradient(to bottom,transparent 60%,#66676b);
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    transition: opacity .4s;
}
.nav-featured-properties .property-item-container:after {
    background: -webkit-linear-gradient(to bottom,transparent 60%,#88A339);
    background: -moz-linear-gradient(to bottom,transparent 60%,#88A339);
    background: -o-linear-gradient(to bottom,transparent 60%,#88A339);
    background: linear-gradient(to bottom,transparent 60%,#88A339);
}
.nav-featured-properties .property-item-container:hover:after {
    opacity: 0.9;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.nav-featured-properties .property-item-container img {
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.nav-featured-properties .property-item-badges {
	position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    display: block;
    font-size: 13px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
}
.nav-featured-properties .property-item-badges .featured {
    background-color: #82aa09;
    color: #ffffff;
    float: left;   
    position: relative; 
    left: -65px;
    top: 20px;    
    text-align: center;
    width: 200px;
    font-size: 12.5px;
    margin: 0;
    padding: 5px 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav-featured-properties .property-item-badges span {
    color: #82aa09;
    display: inline-block;
    padding: 1px 10px;
    float: right;
    background-color: rgba(255,255,255,0.7);
    position: absolute;  
    top: 15px;
    right: 15px;    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.nav-featured-properties .property-item-content {
	position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    color: #ffffff;
}
.nav-featured-properties .property-item-content h4 {
	color: #ffffff;
	font-weight: 500;
	line-height: 35px;
}
.nav-featured-properties .property-item-content .price {
	font-size: 18px;
	font-weight: 700;
}

/* Homepage Slider */
.home-top-slider .item img{
	display: block;
	width: 100%;
	height: auto;
}
.home-top-slider .animated  {
	-webkit-animation-duration : 3s;
	animation-duration : 3s;
	-webkit-animation-delay : 500ms;
	animation-delay : 500ms;
}
.animate-out {
	-webkit-animation-delay : 0ms  ;
	animation-delay : 0ms  ;
}
.home-top-slider .owl-item {
  	display: table;
}
.owl-carousel.home-top-slider .item {
	/*height: 80vh;*/
	background-color: #fc0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.home-top-slider .owl-caption {
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20% 8% 0;
    margin: 0 auto;
    height: 100%;
}
.home-top-slider .owl-caption .caption-wrapper {
	display: inline-block;
	float: left;
	min-width: 550px;
	max-width: 90%;
	text-align: left;
}
.home-top-slider .owl-caption .caption-wrapper h5,
.home-top-slider .owl-caption .caption-wrapper h3 {
	background-color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}
.home-top-slider .owl-caption .caption-wrapper h5 {
	padding: 15px 15px 2px;
}
.home-top-slider .owl-caption .caption-wrapper h3 {
	padding: 0 15px 15px;
}
.home-top-slider .owl-caption .caption-wrapper .caption-footer {
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	padding: 5px 15px;
}
.home-top-slider .owl-caption .caption-wrapper .caption-footer ul {
	padding-top: 5px;
}
.home-top-slider .owl-caption .caption-wrapper .caption-footer ul li {
	margin-right: 10px;
	padding-left: 0;
}
.home-top-slider .owl-caption .caption-wrapper .caption-footer ul li i {
	width: 25px;
	margin-top: 4px;
	margin-right: 2px;
}
.home-top-slider .owl-caption .caption-wrapper .caption-footer ul li div {
	font-size: x-small;
}
.home-top-slider .owl-caption .caption-wrapper .caption-footer ul li div span {
	display: block;
	line-height: normal;
}
.home-top-slider .owl-caption .caption-wrapper .caption-footer .price {
	color: #82aa09;
}
.home-top-slider .owl-caption .caption-wrapper .caption-footer .price span {
	font-size: 17px;
    font-weight: 700;
}
.home-top-slider .owl-caption .caption-wrapper .caption-details {
	width: 100%;
	padding: 0;
	text-align: right;
}
.home-top-slider .owl-caption .caption-wrapper .caption-details a {
	color: rgba(255, 255, 255, 1);
}
.owl-theme.home-top-slider .owl-dots {
	position: absolute;
	top: 43%;
	right: 8%;
}
.owl-theme.home-top-slider .owl-dots .owl-dot {
	display: table;
}
.owl-theme.home-top-slider .owl-dots .owl-dot span {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 7px;
    height: 25px;
    margin: 7px 7px;
}
.owl-theme.home-top-slider .owl-nav {
	margin: 0;
	background-color: #82aa09;
}
.owl-theme.home-top-slider .owl-nav [class*=owl-] {
	float: left;
	background: transparent;
	padding: 2px 10px;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
/*.slider-left, .slider-right {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
}
.slider-left {
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
}
.slider-right {
	width: 28%;
	right: 0;
	background-color: #82aa09;
}
.slider-right:before {
    content:"";
    position: absolute;
    right: 100%;
    top:0px;
    width: 0; height: 0; border-bottom: 607px solid #82aa09; border-left: 420px solid transparent;
}*/

.modal.fade .modal-dialog {
	 -webkit-transform: translate(0);
	 -moz-transform: translate(0);
	 transform: translate(0);
}

/* Modal login or register */
.modal-account .modal-dialog {
	top: 30%;
	max-width: 350px;
}
.modal-account .modal-content {
	background-color: #82aa09;
}
.modal-account .modal-title {
	padding: 15px 0;
	color: #ffffff;
	text-align: center;
}


.btn-neutral {
    background-color: #FFFFFF;
    color: #f96332;
}
.btn-facebook {
    color: #3b5998;
}
.btn-twitter {
    color: #55acee;
}
.btn.btn-icon {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: normal;
}
.btn.btn-icon.btn-icon-mini {
    height: 36px;
    min-width: 36px;
    width: 36px;
}
.social-line .btn.btn-icon, .social-line .btn.btn-icon .btn-icon -mini {
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
}
.btn.btn-icon i.fa, .btn.btn-icon i.now-ui-icons {
    line-height: 2.4em;
}
.btn.btn-icon.btn-icon-mini .fa, .btn.btn-icon.btn-icon-mini .now-ui-icons {
    font-size: 14px;
    line-height: 2.2em;
    vertical-align: bottom;
}
.social-line {
    text-align: center;
}
.input-group-addon {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 7px;
	color: rgba(255, 255, 255, 0.8);
	border: none;
}
.input-group .form-control {
	background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    border: none;
}

/* Advance Search */
.search-form-wrapper {
	position: relative;
	top: -55px;
	z-index: 5;
}
.search-form-wrapper .tab-content {
	padding-top: 25px;
}
.search-form-wrapper .nav-tabs {
	border: 0;
}
.search-form-wrapper .nav-tabs > li {
	margin-right: 10px;
}
.search-form-wrapper .nav-tabs > li:last-child {
	margin-right: 0;
}
.
.search-form-wrapper .nav-tabs > li.open, 
.search-form-wrapper .nav-tabs > li:hover {
	border-bottom: 4px solid #fbcdcf;
}
.search-form-wrapper .nav-tabs > li.active {
	/*border-bottom: 4px solid #f3565d;*/
	/*position: relative;*/
}
.search-form-wrapper .nav-tabs > li > a {
	margin-right: 0;
	background-color: rgba(255, 255, 255, 0.7);
}
.search-form-wrapper .nav-tabs > li.active > a, 
.search-form-wrapper .nav-tabs > li.active > a:focus, 
.search-form-wrapper .nav-tabs > li.active > a:hover {
	background-color: #82aa09;
	color: #ffffff;
	border-color: #82aa09;
}
.search-form-wrapper input[type="text" i] {
	height: 50px;
	width: 100%;
	padding: 0 15px;
	border: 1px solid #ebebeb;
}

/* Advanced Search */
.search-minus {
	padding-bottom: 15px;
}
.search-plus {
	padding-top: 15px;
	padding-bottom: 15px;
}
.search-button {
	padding-top: 15px;
}
.easy-autocomplete {
	width: 100% !important;
}
/* Bootstrap select */
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.bootstrap-select .btn {
	border: 1px solid #ebebeb;
	color: #5d5d5d;
	border-radius: 0;
    height: 50px;
    font-weight: 700;
    outline: none;
}
.bootstrap-select .btn:hover,
.bootstrap-select .btn-default:active,
.bootstrap-select .btn-default:focus,
.bootstrap-select.open > .dropdown-toggle.btn-default {
	background: #ffffff;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
	border-color: #ebebeb;
	outline: none !important;
}
.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    background: white url(../images/select-bg.png) no-repeat right center;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    border: none;
    width: 50px;
    height: 23px;
    right: 0;
    top: 13px;
    margin-top: 0;
}
.bootstrap-select.btn-group .dropdown-menu {
	margin-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; 
    border-top: 0;
    border-color: #ebebeb;
}
/* Bootstrap range slider */
.slider {
	display: block;
	float: left;
	vertical-align:middle;
	position:relative;
}
.slider.slider-horizontal {
	width: 210px;
	height: 10px;
}
.slider.slider-horizontal .slider-track {
	height:10px;
	width:100%;
	margin-top:-5px;
	top:50%;
	left:0;
}
.slider.slider-horizontal .slider-selection {
	height:100%;
	top:0;
	bottom:0;
}
.slider.slider-horizontal .slider-handle {
	margin-left:-10px;
	margin-top:-7px;
}
.slider.slider-horizontal .slider-handle.triangle {
	border-width:0 10px 10px 10px;
	width:0;
	height:0;
	border-bottom-color: #82aa09;
	margin-top:0;
	cursor: ew-resize;
}
.slider.slider-disabled .slider-handle {
	background-image:-webkit-linear-gradient(top,#dfdfdf 0,#bebebe 100%);
	background-image:-o-linear-gradient(top,#dfdfdf 0,#bebebe 100%);
	background-image:linear-gradient(to bottom,#dfdfdf 0,#bebebe 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf',endColorstr='#ffbebebe',GradientType=0);
}
.slider.slider-disabled .slider-track {
	background-image:-webkit-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);
	background-image:-o-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);
	background-image:linear-gradient(to bottom,#e5e5e5 0,#e9e9e9 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5',endColorstr='#ffe9e9e9',GradientType=0);
	cursor:not-allowed;
}
.slider input {
	display:none;
}
.slider .tooltip.top {
	margin-top:-36px;
}
.slider .tooltip-inner {
	white-space:nowrap;
}
.slider .hide {
	display:none;
}
.slider-track {
	position:absolute;
	cursor: move;
	background-image:-webkit-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);
	background-image:-o-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);
	background-image:linear-gradient(to bottom,#f5f5f5 0,#f9f9f9 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	border-radius:4px;
}
.slider-selection {
	position:absolute;
	background-image:-webkit-linear-gradient(top,rgba(130, 170, 9, 0.2) 0,rgba(130, 170, 9, 0.2) 100%);
	background-image:-o-linear-gradient(top,rgba(130, 170, 9, 0.2) 0,rgba(130, 170, 9, 0.2) 100%);
	background-image:linear-gradient(to bottom,rgba(130, 170, 9, 0.2) 0,rgba(130, 170, 9, 0.2) 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-radius:4px;
}
.slider-handle {
	position:absolute;
	width:20px;
	height:20px;
	background-color:#82aa09;
	background-image:-webkit-linear-gradient(top,#82aa09 0,#82aa09 100%);
	background-image:-o-linear-gradient(top,#82aa09 0,#82aa09 100%);
	background-image:linear-gradient(to bottom,#82aa09 0,#82aa09 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);
	filter:none;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	opacity:.8;
	border:0 solid transparent;
}
.slider-handle.round {
	border-radius:50%;
}
.slider-handle.triangle {
	background:transparent none;
}
.slider-handle.custom {
	background:transparent none;
}
.slider-handle.custom::before {
	content:'\2605';
	line-height:20px;
	font-size:20px;	
	color:#82aa09;
}
.value-label {
	display: block;
	float: right;
	width: 60%;
	margin-left: 15px;
	text-align: right;
}
.button-slider .btn-default:hover,
.button-slider .btn-default:active,
.button-slider .btn-default:focus {
	background-color: transparent;
}
.range-input {
	margin-top: 3px;
}
.btn-main {
	height: 45px;
    line-height: 45px;
    padding: 0 65px 0 25px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.08em;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    white-space: nowrap;
    color: #ffffff;
    background: #82aa09;
    border: 1px #82aa09 solid;
}
.btn-main:hover {
	/*color: #3797dd;*/
}
.btn-main span {
    position: relative;
    z-index: 10;
}
.search-button .btn-triangle-left {
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-color: transparent transparent #82aa09 transparent;
}
.search-button .btn-main:hover .btn-triangle-left {
    border-width: 0 0 400px 400px;
}
.search-button .btn-triangle-right {
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-color: transparent transparent #ffffff transparent;
}
.search-button .btn-main:hover .btn-triangle-right {
    border-width: 0;
}
.search-button .btn-icon {
    width: 34px;
    height: 34px;
    /*border-radius: 50%;*/
    position: absolute;
    top: 0;
    right: 0;
    color: #82aa09;
    text-align: center;
    /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);*/
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.search-button .btn-main:hover .btn-icon {
	color: #ffffff;
}

/* LATEST PROPERTIES - Home */
.property-home .title-long {
/*margin: 20px 0 20px;*/
}
.property-home .title-long .title-link,
.agents .title-long .title-link {
	right: auto;
	left: auto;
}
.property-home .btn-group {
/*position: relative;
top: -7px;
right: auto;
width: 100%;
padding: 0px 10px;
text-align: center;*/
}
.property-home .grid.btn-default,
.property-home .list.btn-default {
	/*float: none;*/
}
.latest-properties {
	margin: 0;
}
.latest-properties .mix {
	width: 100%;
	margin: 0;
}
.latest-properties.list .mix {
	width: 100%;
}
.ribbon {
	/*left: auto;*/
}
.ribbon .ribbon-content::before {
	/*border: 0;*/
}
.property-home {
	overflow: hidden;
	padding: 0 0 20px;
}
.property-home .title-long .title-link {
	left: 155px;
}
.property-home .btn-group {
	position: absolute;
	top: 12px;
	right: 0;
	padding: 5px 10px;
}
.property-home .list span.glyphicon,
.property-home .grid span.glyphicon {
	padding-right: 0;
	display: inline-block;
	top: 0;
}
.property-home .list.btn-default,
.property-home .grid.btn-default {
	float: none;
	background-color: #178c8d;
	padding: 5px 8px 2px;
	font-size: 15px;
	border: 0;
	color: #ffffff;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.latest-properties {
	margin: 0 -15px 0 -10px;
	min-height: 300px;
	display: inline-block;
}
.ribbon {
	font-size: 15px;
	font-weight: 700;
	border-top: 0;
	border-right: 5px #b6e32b solid;
	border-bottom: 0;
	border-left: 0;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 25px;
	-webkit-border-bottom-right-radius: 25px;
	border-bottom-right-radius: 25px;
	min-width: 40%;
	width: auto;
	left: -10px;
	position: absolute;
	background-color: #9aa86c;
	color: #ffffff;
	text-align: center;
	padding: 0 15px;
	/* Adjust to suit */
	margin: 0 auto;
}
.ribbon:before {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	z-index: -1;
	left: 25px;
	border-right-width: 1.5em;
	border-left-color: transparent;
}
.ribbon .ribbon-content:before {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #8B9668 transparent transparent transparent;
	bottom: -1em;
}
.ribbon .ribbon-content:before {
	left: 0;
	border-width: 16px 0 0 10px;
}
.latest-properties .mix,
.latest-properties .gap {
	display: inline-block;
	width: 31.3%;
}
.latest-properties .mix {
	margin: 0 10px 10px;
}
.latest-properties .property-box .property-info {
	display: none;
	float: right;
	background: #f9f9f9;
	border-top: 1px solid #cfcfcf;
	width: 68%;
	border-bottom: 1px solid #cfcfcf;
}
.latest-properties .property-box {
	margin: 10px 0 5px 0;
	box-sizing: border-box;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
	position: relative;
	overflow: hidden;
}
.latest-properties .property-box .property-image {
	position: relative;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center 30%;
	min-height: 150px;
}
.latest-properties .property-box .property-image img {
	width: 100%;
	height: auto !important;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	position: relative;
	-webkit-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}
.latest-properties .property-box .property-type,
.latest-properties .property-box .property-status {
	position: absolute;
	top: 5px;	
	padding: 0 10px;
	margin-bottom: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	opacity: 0;
}
.latest-properties .property-box .property-type { 
	right: 0; 
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;  
	animation-name: fadeOutRight;
}
.latest-properties .property-box .property-status {
	left: 0;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	animation-name: fadeOutLeft;
}
.latest-properties .property-box .property-summary {
	position: absolute;
	top: 35%;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.latest-properties .property-box span.property-title {
	position: relative;
	display: inline-block;
	width: 100%;
	background-color: transparent;
	border-bottom: 0px solid #577e7e;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 2px 0;
	-webkit-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}
.latest-properties .property-box span.property-title a {
	color: #ffffff;
}
.latest-properties .property-box span.property-title a:hover {
	color: #d0ed77;
	text-decoration: none;
}
.latest-properties .property-box span.property-address {
	position: relative;
	display: inline-block;
	width: 100%;
	background-color: transparent;
	padding: 5px 0 3px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	-webkit-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}
.latest-properties .property-box .property-action {
	position: absolute;
	bottom: 9%;
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 0px solid rgba(160, 160, 160, 0.2);
	display: inline-block;
	padding-bottom: 0;
	width: 100%;
	overflow: hidden;
}
.latest-properties .property-box .property-action a {
	color: #ffffff;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
	text-transform: uppercase;
}
.latest-properties .property-box .property-action a:hover {
	color: #d0ed77;
	text-decoration: none;
}
.latest-properties .property-box .price-info {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: 600;
	padding: 5px 10px;
	color: #ffffff;
	border-right: 0px solid #789797;
}
.latest-properties .property-box .link-info {
	width: auto;
	display: inline-block;
	float: right;
	vertical-align: middle;
	text-align: center;
	padding: 0 15px;
	font-weight: 600;
}
.latest-properties .property-box .property-detail {
	background: rgba(0, 0, 0, 0.5);
	border-top: 0px solid #cfcfcf;
	display: table;
	width: 100%;
	border-bottom: 0px solid #cfcfcf;
}
.latest-properties .property-box .area-info {
	width: 40%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 5px 10px;
	border-right: 0px solid #cfcfcf;
}
.latest-properties .property-box .area-info span {
	background: url('../images/icon-area-light-sm.png') no-repeat scroll 0 center transparent;
	background-position: 1px 1px;
	padding-left: 30px;
}
.latest-properties .property-box .bed-info {
	width: 30%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 5px 8px;
	border-right: 0px solid #cfcfcf;
}
.latest-properties .property-box .bed-info span {
	background: url('../images/icon-bed-light-sm.png') no-repeat scroll 0 center transparent;
	background-position: 1px 3px;
	padding-left: 32px;
}
.latest-properties .property-box .bath-info {
	width: 30%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 5px 8px;
}
.latest-properties .property-box .bath-info span {
	background: url('../images/icon-bath-light-sm.png') no-repeat scroll 0 center transparent;
	background-position: 1px 0px;
	padding-left: 30px;
}
.latest-properties .property-box:hover .property-image img {
	-webkit-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translateZ(0) scale(1.2);
	-ms-transform: translateZ(0) scale(1.2);
	-webkit-transform: translateZ(0) scale(1.2);
	transform: translateZ(0) scale(1.2);
}
.latest-properties .property-box:hover .property-type {
	opacity: 1;
	animation-name: slideInRight;
}
.latest-properties .property-box:hover .property-status {
	opacity: 1;
	animation-name: slideInLeft;
}
.latest-properties .property-box:hover span.property-title {
  	background-color: rgba(154, 168, 108, 0.8);
}
.latest-properties .property-box:hover span.property-address {
	background-color: rgba(154, 168, 108, 0.4);
}

/* List Styles */
.latest-properties.list {
	margin: 0;
}
.latest-properties.list .mix {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
.latest-properties.list .mix:last-child {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}
.latest-properties.list .mix:first-child {
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}
.latest-properties.list .mix:nth-of-type(odd):hover,
.latest-properties.list .mix:hover {
	background: transparent;
}
.latest-properties.list .mix .list-group-image {
	margin-right: 10px;
}
.latest-properties.list .mix .thumbnail {
	margin-bottom: 0;
}
.latest-properties.list .mix .caption {
  	padding: 9px 9px 0 9px;
}
.latest-properties.list .mix:nth-of-type(odd) {
  	background: transparent;
}
.latest-properties.list .mix:before, .latest-properties.list .mix:after {
	display: table;
	content: " ";
}
.latest-properties.list .mix img {
  	float: left;
}
.latest-properties.list .mix:after {
  	clear: both;
}
.latest-properties.list .mix .property-box {
	width: 100%;
	float: left;
	position: relative;
	margin: 10px 0 10px;
	background-color: #f9f9f9;
	-webkit-box-shadow: 0 2px 7px #cfcfcf;
	box-shadow: 0 2px 7px #cfcfcf;
}
.latest-properties.list .mix .ribbon .ribbon-content::before,
.latest-properties.list .mix .ribbon::before {
	bottom: 0;
}
.latest-properties.list .mix .property-box .property-image {
	width: 32%;
	float: left;
	z-index: 10;
}
.latest-properties.list .mix .property-box .property-image span.property-title,
.latest-properties.list .mix .property-box .property-image span.property-address {
	display: none;
}
.latest-properties.list .mix .property-box .property-info {
	display: block;
	border-bottom: 0px;
	margin-top: 3%;
	border: 0;
}
.latest-properties.list .mix .property-box .property-info span.property-title,
.latest-properties.list .mix .property-box .property-info span.property-address {
	position: relative;
	width: 100%;
	float: left;
	background-color: transparent;
	bottom: 0;
	padding-left: 0;
	padding-right: 10px;
	color: #577e7e;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
}
.latest-properties.list .mix .property-box .property-info span.property-title {
	border-bottom: 1px solid #577e7e;
	font-size: 19px;
}
.latest-properties.list .mix .property-box .property-info span.property-title a {
	color: #b6e32b;
	font-size: 27px;
	font-weight: 500;
}
.latest-properties.list .mix .property-box .property-info span.property-address {
	border-bottom: 0px solid #577e7e;
	font-size: 18px;
}
.latest-properties.list .mix .property-box .property-summary {
  	display: none;
}
.latest-properties.list .mix .property-box .property-detail {
	width: 70%;
	position: absolute;
	right: 0;
	bottom: 49px;
	border-bottom: 0;
}
.latest-properties.list .mix .property-box .property-action {
	width: 70%;
	position: absolute;
	right: -1px;
	bottom: 0;
}

@media screen and (max-width: 991px) {
	.search-items {
		margin-bottom: 15px;
	}
	.search-minus, .search-plus {
	    padding: 0;
	}
}
@media screen and (max-width: 767px) {
	.btn-effect-2::before {
		margin: 13px 15px;
	}
	.navbar.header-wrapper .navbar-header {
		height: 50px;
		background-color: rgba(255, 255, 255, 0.8);
		padding-left: 0;
		text-align: center;
	}
	.navbar.header-wrapper .sticky .navbar-header {
		background-color: #ffffff;
		-webkit-box-shadow: 0px 7px 18px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 7px 18px -9px rgba(0,0,0,0.75);
		box-shadow: 0px 7px 18px -9px rgba(0,0,0,0.75);
	}
	.side-on .navbar.header-wrapper .navbar-header {
		position: relative;
		width: 250px;
		background-color: rgba(255, 255, 255, 1);
		z-index: 5;
	}
	.navbar-toggle {
		position: absolute;
		left: 8%;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		border: 0;
		margin: 0;
		padding: 13px 10px 5px 0;
	}
	.navbar-toggle:hover {
		margin: 0;
	}
	.side-on .navbar-toggle {
		left: 210px;
	}
	.navbar-toggle .icon-bar {
	    width: 25px;
    	height: 3px;
		background-color: #82aa09;
	}
	/* Navbar with left sidebar */
	.navbar.header-wrapper .navbar-header .navbar-brand {
		float: none;
		display: inline-block;
		margin: auto;
		padding: 7px 15px 5px 5px;
	}
	.side-on .navbar.header-wrapper .navbar-header .navbar-brand {
		position: absolute;
		left: 0;
	}
	.side-collapse-container{
		width: 100%;
		position: relative;
		left: 0;
		-webkit-transition: left .4s;
		-moz-transition: left .4s;
		-ms-transition: left .4s;
		transition: left .4s;
	}
	.side-collapse-container.out{
		left: 250px;
	}
	.side-collapse {
		top: 0;
		bottom: 0;
		left: 0;
		width: 250px;
		padding-top: 50px;
		position: fixed;
		overflow-x: hidden;
    	overflow-y: auto;
		-webkit-transition: width .4s;
		-moz-transition: width .4s;
		-ms-transition: width .4s;
		transition: width .4s;
	}
	.side-collapse.in {
		width: 0;
	}
	/*.side-collapse .navbar-nav.nav-menu {
		padding-bottom: 150px;
	}*/
	/*.side-collapse-footer {
		position: relative;
	}*/
	/*.side-collapse .navbar-nav.nav-contact {
		position: fixed;
    	bottom: 0;
		width: 200px;
		padding: 0;
		margin: 0;
	}
	.side-collapse .navbar-nav.nav-contact:before {
		border: 0;
	}*/
	.navbar-top,
	.nav-contact {
		display: none;
	}
	.navbar-nav.nav-side-collapse {
		display: block;
		margin: 0 -15px;
		padding: 10px 0;
		background-color: #82aa09;
	}
	.navbar-nav.nav-side-collapse > li > a {
		color: #fff;
		padding: 10px 15px;
	}
	.navbar-nav.nav-side-collapse.accounts {
		background-color: transparent;
		margin: auto;
	}
	.navbar-nav.nav-side-collapse.accounts > li {
		display: inline-block;
	}
	.navbar-nav.nav-side-collapse.accounts > li > a {
		color: #777;
	}
	.nav-menu > li > a {
		padding: 13px 15px;
	}
	.nav-menu > li.dropdown > a > i {
		float: right;
	}
	.nav-menu > li.open > a > .fa-chevron-down:before {
	    content: "\f077";
	}
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:focus, 
	.navbar-default .navbar-nav > .open > a:hover {
		color: #82aa09;
		/*background-color: #82aa09;*/
	}
	/*.side-collapse .navbar-top {
		position: fixed;
		bottom: 60px;
		width: 200px;
		margin: 0;
		background: #82aa09;
	}
	.side-collapse .navbar-top .top-left {
		padding-left: 0;
	}
	.side-collapse .navbar-top .top-left li.divider-hor {
		display: none;
	}
	.side-collapse .navbar-top .top-right {
		float: left !important;
		padding-right: 0;
	}*/
	.navbar-default.side-collapse.in .navbar-collapse {
		opacity: 0;
	}
	.navbar-default.side-collapse .navbar-collapse {
		height: calc(100% - 150px);
    	max-height: 100%;
		opacity: 1;
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-ms-transition: opacity .5s;
		transition: opacity .5s;
	}
	.navbar-nav .open .dropdown-menu {
		display: inline;
	}
	.navbar-nav .open .dropdown-menu > li {
		background-color: #eeeeee;
	}
	.navbar-nav .open .dropdown-menu > li > a {

	}
	.mega-dropdown-menu .dd-nav-list {
		padding: 10px 0;
	}
	.nav-featured-properties {
		padding-bottom: 15px;
	}
	.side-collapse-container.out .collapse-overlay {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 3;
	}
	/* Slider */
	.home-top-slider .owl-caption {
		padding: 15% 7% 0;
	}
	.home-top-slider .owl-caption .caption-wrapper {
		width: 100%;
		max-width: 100%;
		min-width: 400px;
	}
	.owl-theme.home-top-slider .owl-dots {
		display: none;
	}
}
@media screen and (max-width: 575px) {
	/* Slider */
	.slider-wrapper {
		padding-top: 50px;
	}
	.side-on .slider-wrapper {
		padding-top: 0;
	}
	.home-top-slider .owl-caption {
		padding: 0;
	}
	.home-top-slider .owl-caption .caption-wrapper {
		position: absolute;
	    left: 0;
	    right: 0;
	    float: none;
	    min-width: 300px;
	    margin: auto;
	    bottom: 0;
	}
	.home-top-slider .owl-caption .caption-wrapper h5 {
		display: none;
	}
	.home-top-slider .owl-caption .caption-wrapper h3 {
		padding: 5px 15px;
    	font-size: 18px;
	}
	.home-top-slider .owl-caption .caption-wrapper .caption-footer {
		padding: 5px 15px;
		background-color: transparent;
		text-align: left;
	}
	.home-top-slider .owl-caption .caption-wrapper .caption-footer ul {
		display: none;
	}
	.home-top-slider .owl-caption .caption-wrapper .caption-footer .price {
		float: none !important;
	}
	.home-top-slider .owl-caption .caption-wrapper .caption-details {
		margin-top: -40px;
		padding-right: 15px;
	}
	.owl-theme.home-top-slider .owl-nav {
		display: none;
	}

	/* Advanced Search */
	.search-form-wrapper {
		top: 0;
	}
}
@media screen and (min-width: 768px) {
	.navbar.header-wrapper .navbar-container {
		position: relative;
		top: 0;
		-webkit-transition: top .3s ease-in-out;
		-moz-transition: top .3s ease-in-out;
		-o-transition: top .3s ease-in-out;
		transition: top .3s ease-in-out;
	}
	.navbar.header-wrapper .navbar-container.sticky {		
		top: -40px;
	}
	.navbar.header-wrapper .sticky .navbar-default {
		background-color: #ffffff;
		-webkit-box-shadow: 0px 7px 18px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 7px 18px -9px rgba(0,0,0,0.75);
		box-shadow: 0px 7px 18px -9px rgba(0,0,0,0.75);
	}
	.nav-menu > li.dropdown:hover > a > .fa-chevron-down:before {
	    content: "\f077";
	}

	/* Navbar dropdown hover with animation */
	.dropdown:hover .dropdown-menu {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		transform: scale(1, 1);  
		opacity:1;
	} 
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
	.navbar-nav.nav-contact {
		width: 10%;
	}
	.navbar-nav.nav-contact > li {
	    display: none;
	}
	.navbar-nav.nav-contact > li.dropdown {
	    display: inline-block;
    	width: auto;
	}
	.navbar-nav.nav-contact > li.dropdown > a {
		margin: 10px 0;
		line-height: 24px;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu {
	    top: 0;
	    right: 45px;
	    padding: 0;
	    background-color: #82aa09;
	    border: 0;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu > li {
	    display: list-item;
	    padding: 0;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu > li > a {
	    padding-left: 10px;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu > li> a:focus, 
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu > li > a:hover {
		color: #262626;
		background-color: transparent;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.btn-effect-2::before {
		margin: 19px 8px;
	}
	.navbar-nav > li > a {
		padding: 19px 8px;
	}
	.navbar-nav.nav-contact {
		width: 6%;
		padding-left: 3px;
	}
	.navbar-nav.nav-contact:before {
		border-right: 15px solid #82aa09;
	}
	.navbar-nav.nav-contact > li.dropdown > .dropdown-menu {
	    right: 30px;
	}
}